body {
    background-color: white;
}

.flex-container {
    display: flex;
}

div {
    text-align: center;
}

.flex-container>div {
    background-color: turquoise;
    margin: 50px;
    padding: 30px;
    font-size: 20px;
    border-radius: 15px;
}

.foot {
    display: flex;
}

#btn {
    border-radius: 10px;
    font-size: 15px;
}

.foot>div {
    padding: 60px;
}